/**
 * Masthead
 * -------------------------------------------------------------------------- */

.masthead {
  position: relative;
}
.masthead-video {
  z-index: 0;
}
.masthead-overlay {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cd-main-content h1 {
  width: 100%;
  font-weight: 700;
  font-size: 6vw;
  text-align: center;
  line-height: 1;
  margin: auto;
  color: #fff;
}
.cd-main-content h1 span {
  display: block;
  font-size: 16px;
  letter-spacing: 0.43em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  padding-left: 10px;
}

.index_mem {
  position: relative;
}
.index_phone {
  position: relative;
  z-index: 99999;
  width: 15%;
  left: 42.5%;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}
.index_phone:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}
.index_phone img {
  width: 100%;
}
.hidden_padding {
  position: absolute;
  top: 0;
  left: 0;
}
.hidden_padding > img {
  width: 100%;
}
.index_phone .index_button {
  position: relative;
  width: 45%;
  left: 27.5%;
}
.index_phone .index_button span {
  width: 100%;
  height: 100%;
  font-size: 1.5vw;
  background: #6c2e9a;
  position: absolute;
  left: 0;
  text-align: center;
  display: inline-block;
  color: #fff;
  line-height: 7vw;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* -------------------------------- 

Shared style

-------------------------------- */
.cd-btn {
  display: inline-block;
  padding: 1.6em 2.4em;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cd-btn:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  line-height: 1;
}

/* Main Content */
.cd-main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  /* vertically align its content */
  display: table;
}
.cd-main-content .center {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Modal Window */
.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-modal .modal-content {
  height: 100%;
  overflow-y: auto;
  padding: 3em 5%;
}

.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  color: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s,
    -webkit-transform 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s,
    -webkit-transform 0.3s 0s;
}
.cd-modal .modal-close::before,
.cd-modal .modal-close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 20px;
  top: calc(50% - 1px);
  left: calc(50% - 10px);
}
.cd-modal .modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-modal .modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
  z-index: 999999;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s,
    -webkit-transform 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s,
    -webkit-transform 0.3s 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 1100px) {
  .cd-modal .modal-content {
    padding: 6em 5%;
  }
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal .modal-close::before,
  .cd-modal .modal-close::after {
    height: 2px;
    width: 26px;
    top: calc(50% - 1px);
    left: calc(50% - 13px);
  }
  .cd-modal p {
    font-size: 2rem;
  }
}

/* Transition Layer */
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.visible .bg-layer {
  -webkit-transform: translateY(-50%) translateX(-98%);
  transform: translateY(-50%) translateX(-98%);
}
.cd-transition-layer.opening .bg-layer,
.cd-transition-layer.closing .bg-layer {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

/* -------------------------------- 

Fire Extinguisher Effect

-------------------------------- */
.extinguisher-transition {
}
.extinguisher-transition h1,
.extinguisher-transition h2 {
}
.extinguisher-transition .cd-btn {
  background: #1c3458;
  color: #f1faee;
  border-radius: 50em;
}
.extinguisher-transition .cd-main-content {
  background: #f5f5f5;
}
.extinguisher-transition .cd-modal {
  background: #f5f5f5;
}

.extinguisher-transition .cd-modal .modal-close::before,
.extinguisher-transition .cd-modal .modal-close::after {
  background: #fff;
}
.extinguisher-transition .cd-modal .modal-close {
  background: rgba(0, 0, 0, 0.3);
}
.extinguisher-transition .cd-modal .modal-close:hover {
  background: rgba(0, 0, 0, 0.5);
}
.extinguisher-transition .cd-transition-layer .bg-layer {
  /* sprite composed of 25 frames */
  width: 2500%;
  background-image: url(image/extinguisher.png);
}
.extinguisher-transition .cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards;
  animation: cd-sequence 0.8s steps(24) forwards;
}
.extinguisher-transition .cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24) forwards reverse;
  animation: cd-sequence 0.8s steps(24) forwards reverse;
}

/* -------------------------------- 

Animations

-------------------------------- */
@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
    transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
    transform: translateY(-50%) translateX(-98.6842%);
  }
}
@keyframes cd-sequence-2 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-1.3158%);
    transform: translateY(-50%) translateX(-1.3158%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98.6842%);
    transform: translateY(-50%) translateX(-98.6842%);
  }
}
@-webkit-keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
    transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
    transform: translateY(-50%) translateX(-97.5%);
  }
}
@keyframes cd-sequence-3 {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2.5%);
    transform: translateY(-50%) translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-97.5%);
    transform: translateY(-50%) translateX(-97.5%);
  }
}

/* 로그인페이지 */
.admin_login {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: table;
  text-align: center;
  height: 100%;
}
.admin_login_cover {
  width: 470px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.admin_login_in {
  width: 470px;
  padding: 40px 40px 60px 40px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  margin: 0 auto;
}
.admin_login_line {
  height: 4px;
  background-color: #ebebeb;
  width: 470px;
  margin: 0 auto;
}
.admin_login h1 {
  font-size: 43px;
  line-height: 41px;
  font-family: PT Sans;
  color: #1d7cd4;
  padding: 19px 0 15px 0;
  margin: 0;
  text-align: center;
}
.admin_login h1 span.po_b {
  font-size: 43px;
  line-height: 41px;
  font-family: PT Sans;
  color: #4e5960;
}
.admin_login p.stit {
  font-family: NanumGothic, 나눔고딕, NG, Tahoma, Geneva, sans-serif;
  color: #888;
  font-size: 14px;
  letter-spacing: -0.5pt;
  text-align: center;
  padding: 0 0 40px 0;
}
.admin_login dl {
  padding: 0;
}
.admin_login dt {
  padding-top: 7px;
}
.admin_login dd.secure {
  font-size: 12px;
  color: #666;
  text-align: center;
  padding-top: 10px;
}
.admin_login dd.secure input {
  vertical-align: middle;
}

.admin_login_input {
  font-family: NanumGothic, 나눔고딕, NG, Tahoma, Geneva, sans-serif;
  width: 100%;
  border: 1px solid #ddd;
  padding: 16px;
  font-size: 14px;
  letter-spacing: -0.2pt;
  color: #666;
  margin-bottom: 3px;
}
.login_button {
  font-family: NanumGothic, 나눔고딕, NG, Tahoma, Geneva, sans-serif;
  cursor: pointer;
  border: 1px solid #1d7cd4;
  background-color: #1d7cd4;
  color: #fff;
  letter-spacing: -1pt;
  width: 100%;
  padding: 14px 0 16px 0;
  font-size: 16px;
  font-weight: 600;
}

/*******************************************************************************
	@media 1100px~1179px
*******************************************************************************/
@media all and (max-width: 1024px) {
  .index_phone {
    width: 40%;
    left: 30%;
  }
  .index_phone .index_button span {
    line-height: 18vw;
    font-size: 3vw;
  }
  .cd-main-content h1 {
    font-size: 10vw;
  }

  @media all and (max-height: 768px) {
    .index_phone {
      width: 15%;
      left: 42.5%;
    }
    .index_phone .index_button span {
      line-height: 7vw;
      font-size: 1.5vw;
    }
    .cd-main-content h1 {
      display: block;
    }
  }
}

@media all and (max-width: 980px) {
  @media all and (max-height: 480px) {
    .index_phone {
      width: 25%;
      left: 37.5%;
    }
    .index_phone .index_button span {
      line-height: 11vw;
      font-size: 3vw;
    }
    .cd-main-content h1 {
      display: none;
    }
  }

  @media all and (max-height: 375px) {
    .index_phone {
      width: 20%;
      left: 40%;
    }
    .index_phone .index_button span {
      line-height: 9vw;
      font-size: 2.5vw;
    }
  }
}

@media all and (max-width: 520px) {
  .cd-modal .modal-content {
    padding: 0px 20px;
  }
  .admin_login_in {
    padding: 20px 20px 35px 20px;
    width: 100%;
  }
  .admin_login p.stit {
    font-size: 12px;
  }
}

@media all and (max-width: 480px) {
  .index_phone {
    width: 60%;
    left: 20%;
  }
  .index_phone .index_button span {
    line-height: 27vw;
    font-size: 6vw;
  }
  .cd-main-content h1 {
    display: none;
  }

  @media all and (max-height: 320px) {
    .index_phone {
      width: 25%;
      left: 37.5%;
    }
    .index_phone .index_button span {
      line-height: 11vw;
      font-size: 3vw;
    }
  }
}
